@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");
$font_color_uniq: #f16d7f;
%font_for_cart_bold {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    color: #222222;
}
%select_style {
    width: 144px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #bcbcbc;
}
%headingFiveFontStyle {
    font-weight: 400;
    text-transform: uppercase;
}
* {
    margin: 0;
    padding: 0;
}
button:active,
button:focus {
    outline: none;
}
input:focus,
textarea:focus {
    outline: none;
}
body {
    font-family: lato, sans-serif;
    letter-spacing: 0.025em;
    color: #222222;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
//хэдер
.header {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
    .containerHeader {
        display: flex;
        align-items: center;
        height: inherit;
        position: relative;

        .header_form {
            display: flex;
            height: 38px;
            margin-left: 37px;
        }
        .browse_btn,
        .inputSearch,
        .search_button,
        .account_btn {
            border: none;
        }
        .browse_btn {
            width: 87px;
            background-color: #cdcdcc;
            background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
            border: 1px solid #e6e6e6;
            text-decoration: none;

            font-size: 14px;
            line-height: 32px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #222222;
        }
        .browse_btn i {
            margin-left: 8px;
        }
        .search_area {
            display: flex;
        }
        .inputSearch {
            padding: 10px 12px;
            width: 279px;
            font-size: 14px;
            line-height: 17px;
            font-weight: 300;
            color: #a4a4a4;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
        }
        .search_button {
            width: 38px;
            height: 38px;
            font-size: 14px;
            line-height: 32px;
            font-weight: 400;
            border: 1px solid #e6e6e6;
        }

        .account_btn {
            width: 130px;
            margin-left: 26px;
            background-color: $font_color_uniq;
            font-size: 15px;
            line-height: 32px;
            font-weight: 400;
            color: #ffffff;
        }
        .account_btn i {
            margin-left: 8px;
        }
        .right_part {
            position: absolute;
            display: flex;
            height: 32px;
            right: 0;
            clear: left;
            .cart_link {
                display: block;
            }
        }
        @media (max-width: 1140px) {
            .right_part {
                right: 15px;
            }
        }

        @media (max-width: 860px) {
            .right_part {
                position: initial;
                margin-top: 10px;
            }
            .bletter_adaptive {
                display: none;
            }
            .logo_adaptive {
                background-image: url(img/b_letter_header.png);
                background-repeat: no-repeat;
                padding-left: 50px;
                background-position: 0 center;
                background-size: contain;
            }

            .header_form {
                margin-left: initial;
            }
        }
        @media (max-width: 425px) {
            .inputSearch {
                width: 150px;
            }
        }
    }
}
@media (max-width: 1140px) {
    .containerHeader {
        padding: 0 15px;
    }
}
@media (max-width: 860px) {
    .header {
        height: 160px;
        padding: 15px 0;
    }
    .containerHeader {
        position: initial;
        flex-direction: column;
        justify-content: space-between;
    }
}
.bLetter {
    width: 59px;
    height: 51px;
}
.logo {
    padding-left: 13px;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    color: #222222;
    .logo_d {
        font-weight: 900;
        color: $font_color_uniq;
    }
}
//главное меню
.main_menu {
    display: flex;
    height: 51px;
    align-items: center;
    justify-content: center;
}
.main_menu a {
    box-sizing: border-box;
    text-decoration: none;
    height: inherit;
    align-items: center;
    font-size: 14px;
    line-height: 51px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}
.main_menu a:not(:last-child) {
    margin-right: 40px;
}
.main_menu_item:hover {
    border-bottom: 3px solid $font_color_uniq;
    color: $font_color_uniq;
}
@media (max-width: 860px) {
    .main_menu {
        flex-wrap: wrap;
        justify-content: space-around;
        height: initial;
    }
    .main_menu a:not(:last-child) {
        margin-right: 0;
    }
    .main_menu a {
        padding: 0 15px;
        height: 51px;
    }
}
@media (max-width: 425px) {
    .main_menu {
        flex-direction: column;
    }
}

//слайдер
.slider__container {
    display: flex;
    align-items: center;
    margin-bottom: 98px;
    height: 600px;
    background-color: #e8e8e8;
    background-image: url(img/slider_man_img.png);
    background-repeat: no-repeat;
    background-position-x: right;

    .slider_slogan {
        border-left: 12px solid $font_color_uniq;
        padding-left: 12px;
        @media (max-width: 425px) {
            background-color: #e8e8e8;
            width: 55%;
            border-radius: 0 20px 20px 0;
            padding: 12px;
            margin-top: 160px;
        }
        .slider__slogan_large {
            font-size: 60px;
            line-height: 0.8;
            font-weight: 900;
            @media (max-width: 425px) {
                font-size: 40px;
            }
        }
        .slider__slogan_middle {
            font-size: 40px;
            line-height: 0.8;
            padding: 15px 0 0;
            @media (max-width: 425px) {
                font-size: 30px;
            }
            .slider__slogan_last_word {
                display: inline-block;
                color: $font_color_uniq;
                @media (max-width: 495px) {
                    margin-top: 10px;
                }
            }
        }
    }
}
//блок предложений
.offers_block {
    display: flex;
    justify-content: space-between;

    margin-bottom: 100px;
    @media (max-width: 560px) {
        justify-content: center;
        flex-wrap: wrap;
    }
    .offers_img {
        width: 100%;
    }
    .offers__left {
        @media (min-width: 560px) and (max-width: 1200px) {
            margin: 0 20px 20px 0;
            width: calc(50%-10px);
        }
        @media (max-width: 560px) {
            margin: 0 0 20px 0;
        }
    }
    .offers_right {
        @media (min-width: 560) and (max-width: 1200px) {
            width: calc(50%-10px);
        }
    }
    .offers_block__offer {
        position: relative;
        display: block;
        text-decoration: none;
        .offers__text_block {
            position: absolute;
            left: 0;
            top: 26px;
            padding: 16px 20px;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 900;
            color: #222222;
            background-color: #ffffff;
            @media (max-width: 1200px) {
                font-size: 12px;
            }
        }
    }
    .offers_block__offer:not(:last-child) {
        margin-bottom: 20px;
    }

    .offers__text_block_span {
        font-size: 30px;
        color: $font_color_uniq;
        @media (max-width: 768px) {
            font-size: 20px;
        }
    }
}
//блок товаров
.featured_items_container {
    text-align: center;
    margin-bottom: 113px;
    @media (max-width: 1140px) {
        padding: 0 15px;
    }
}
.featured_items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    @media (max-width: 425px) {
        flex-direction: column;
        align-items: center;
    }
    @media (min-width: 425px) and (max-width: 768px) {
        justify-content: space-around;
    }
}
@media (min-width: 769px) and (max-width: 1049px) {
    .featured__items_item:not(:nth-child(3n)) {
        margin-right: 107px;
    }
    .featured__items_item:not(:nth-last-child(-n + 3)) {
        margin-bottom: 40px;
    }
}
.featured__items_item {
    max-width: 260px;
    padding-bottom: 20px;
}
@media (max-width: 550px) {
    .featured__items_item:not(:last-child) {
        margin-bottom: 40px;
    }
}
@media (min-width: 1040px) {
    .featured__items_item:not(:nth-child(4n)) {
        margin-right: 33px;
    }
    .featured__items_item:not(:nth-last-child(-n + 4)) {
        margin-bottom: 40px;
    }
}

.featured__items_item:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
}
.featured__items_item:hover .featured_items_img_block_hover {
    display: flex;
}
.featured_items_img_block {
    position: relative;
    margin-bottom: 20px;
}

.featured_items_img_block_hover {
    position: absolute;
    display: none;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
}

.featured__items_heading {
    font-size: 30px;
    line-height: 54px;
    font-weight: 700;
}
.featured__items_text {
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    color: #9f9f9f;
    margin-bottom: 60px;
}

.item_label {
    max-width: 250px;
    padding: 20px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 0.9;
    font-weight: 400;
}
.item_price {
    padding-left: 20px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $font_color_uniq;
}
.item_label,
.item_price {
    text-align: initial;
}
.button_to_all_products {
    display: inline-block;
    text-decoration: none;
    width: 212px;
    font-size: 16px;
    line-height: 54px;
    font-weight: 700;
    color: #ffffff;
    background-color: $font_color_uniq;
}
//блок большого предложения
.big_offer_container {
    @media (min-width: 1140px) {
        margin-bottom: 100px;
    }
}
.big_offer {
    display: flex;
    height: 529px;
    @media (max-width: 1140px) {
        flex-direction: column;
        height: initial;
        background-color: #222224;
    }
}
.big_offer_left_block {
    position: relative;
    @media (max-width: 1140px) {
        width: 100%;
    }
    .big_offer_main_img {
        height: 100%;
        @media (max-width: 1140px) {
            height: initial;
            width: 100%;
        }
    }
}

.big_offer_left_block_text {
    position: absolute;
    top: 146px;
    left: 40px;
    max-width: 300px;
    font-size: 53px;
    line-height: 0.9;
    font-weight: 700;
    color: #ffffff;
    @media (max-width: 374px) {
        top: 110px;
        left: 20px;
    }
}
.big_offer_text_left_span_1 {
    display: inline-block;
    color: $font_color_uniq;
}
.big_offer_text_left_span_2 {
    display: inline-block;
    font-size: 32px;
}
.big_offer_right_block {
    display: flex;
    flex-grow: 1;
    padding: 55px 36px;
    background-color: #222224;
    @media (max-width: 1140px) {
        justify-content: center;
    }
    .bo_right_block_haeding {
        font-size: 20px;
        margin-bottom: 5px;
        font-weight: 700;
        color: #fbfbfb;
    }
    .bo_right_block_text {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #fbfbfb;
    }
    @media (max-width: 1140px) {
        flex-grow: initial;
    }
}
.big_offer_order {
    list-style: none;
}
.big_offer_order_list:not(last-child) {
    margin-bottom: 61px;
}
.big_offer_order_list:nth-child(1) {
    content: "";
    padding-left: 80px;
    background: url("img/bo_list_1.png");
    background-repeat: no-repeat;
    background-size: 45px 30px;
}
.big_offer_order_list:nth-child(2) {
    content: "";
    padding-left: 80px;
    background: url("img/bo_list_2.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
}
.big_offer_order_list:nth-child(3) {
    content: "";
    padding-left: 80px;
    background: url("img/bo_list_3.png");
    background-repeat: no-repeat;
    background-size: 47px 30px;
}

.item_picture {
    width: 260px;
    height: 280px;
    background-image: url(img/Mango_people_pic_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.item_hover {
    width: inherit;
    height: inherit;
    background-color: black;
    opacity: 0;
    display: flex;
}
.item_hover:hover {
    opacity: 0.8;
}
.Item_button_hover {
    display: flex;
    margin: auto;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.cart_img {
    padding-right: 8px;
}
//блок подписки на рассылку
.container_subscribe {
    display: flex;
    justify-content: space-between;
    height: 440px;
}
.subscribing_block {
    background-image: url(img/subscribe_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 110px;
}
.subscribing_block_left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: calc(50% - 0.5px);
    .qoute_img {
        float: left;
        margin-right: 28px;
    }
    .subscribing_block_left_quote_1 {
        margin-top: 123px;
        max-width: 490px;
        overflow: hidden;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        font-style: italic;
        color: #222224;
    }
    .subscribing_block_left_quote_2 {
        margin-left: 111px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        color: $font_color_uniq;
    }
    .subscribing_block_left_quote_3 {
        margin-bottom: 43px;
        margin-left: 111px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
        color: #222224;
    }
    .subscribing_block_left_switch {
        display: flex;
        margin-left: 111px;
    }
    .subscribing_block_left_switch_element {
        width: 38px;
        height: 4px;
        background-color: #d6d6d6;
    }
}
.subscribing_block_left_switch_element:hover {
    background-color: $font_color_uniq;
}
.subscribing_block_left_switch_element:not(:last-child) {
    margin-right: 13px;
}

.divider {
    border-left: 1px solid white;
    height: 100%;
}
.subscribing_block_right {
    flex-grow: 1;
    width: calc(50% - 0.5px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .subscribing_block_right_heading {
        padding-top: 148px;
        font-size: 24px;
        line-height: 54px;
        font-weight: 400;
        text-transform: uppercase;
        color: #222224;
    }
    .subscribing_block_right_text {
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 35px;
    }
    .subscribing_block_right_input {
        width: 334px;
        height: 46px;
        background-color: #e1e1e1;
        border-radius: 23px 0 0 23px;
        border-style: none;
        font-size: 14px;
        line-height: 54px;
        font-weight: 400;
        color: #222224;
        padding: 0 28px 0 28px;
        box-sizing: border-box;
    }
    .subscribing_block_right_button {
        width: 104px;
        height: 46px;
        background-color: $font_color_uniq;
        border-radius: 0 23px 23px 0;
        border-style: none;
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
    }
}
@media (max-width: 860px) {
    .container_subscribe {
        flex-direction: column;
        height: initial;
        padding-bottom: 123px;
    }
    .subscribing_block_left {
        width: initial;
        margin: 0 auto;
    }
    .subscribing_block_right {
        width: initial;
        margin: 0 auto;
        .subscribing_block_right_heading {
            padding-top: 20px;
        }
    }

    .divider {
        display: none;
    }
}
@media (max-width: 425px) {
    .subscribing_block_right_input_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 334px;
        .subscribing_block_right_input {
            border-radius: 23px;
            margin-bottom: 20px;
        }
        .subscribing_block_right_button {
            border-radius: 23px;
        }
    }
    .subscribing_block {
        margin-bottom: 30px;
    }
    .subscribing_block_left_quote_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 30px 20px;
        .qoute_img {
            display: initial;
            margin-right: initial;
        }
    }
    .subscribing_block_left {
        .subscribing_block_left_quote_2,
        .subscribing_block_left_quote_3 {
            margin-left: 40px;
        }
    }
}
//стили для футера
.footer_left_block {
    flex-grow: 1;
}
.footer_container {
    margin-bottom: 90px;
    display: flex;
}
.footer_logo {
    display: flex;
    align-items: center;
    margin-bottom: 41px;
}
.footer_left_block_text {
    max-width: 430px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #898989;
}
.footer_left_block_text:not(:last-child) {
    margin-bottom: 24px;
}
.footer_left_block_text:not(:nth-child(2n + 1)) {
    display: none;
}
.footer_right_block {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    .footer_right_block_order {
        list-style-type: none;
        font-size: 16px;
        line-height: 42px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #898989;
    }
}
.footer_right_block_order_list a {
    text-decoration: none;
    color: #898989;
}
.footer_right_block_order_list:first-child {
    text-transform: uppercase;
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: $font_color_uniq;
}
.footer_contacts {
    background-color: #e6e6e6;
}
.footer_contacts_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
}
.footer_copywrites {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    color: #7a7a7a;
}
.footer_social_icons {
    display: flex;
}
.social_icons {
    display: flex;
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #b2b2b2;
    background-color: #ffffff;
}
.social_icons:not(:last-child) {
    margin-right: 8px;
}
.social_icons:hover {
    background-color: $font_color_uniq;
    color: #f7f7f8;
}
.social_icons i {
    margin: auto;
}
@media (max-width: 1140px) {
    .footer_container,
    .footer_contacts_container {
        padding: 0 15px;
    }
}
@media (max-width: 860px) {
    .footer_container {
        flex-direction: column;
    }
    .footer_left_block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_left_block_text {
        max-width: 750px;
        padding: 0 10px;
        text-align: center;
    }
    .footer_logo {
        margin-right: 20px;
    }
    .footer_right_block {
        padding: 0 40px;
    }
}
@media (max-width: 425px) {
    .footer_container {
        align-items: center;
    }
    .footer_left_block {
        flex-direction: column;
        text-align: center;
    }
    .footer_logo {
        margin: 10px auto;
    }
    .footer_right_block {
        width: 100%;
        padding: 0;
        .footer_right_block_order {
            line-height: 20px;
        }
    }
    .footer_right_block_order_list:first-child {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .footer_copywrites {
        line-height: initial;
    }
}
//shopping cart styles
.new_arrivals_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}
.new_arrivals {
    background-color: #f8f3f4;

    .arrivals_text {
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: $font_color_uniq;
    }
    .arrivals_path {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: #636363;
        .arrivals_text_span {
            color: $font_color_uniq;
            font-weight: 700;
        }
    }
}
@media (max-width: 1140px) {
    .new_arrivals_container {
        padding: 0 15px;
    }
}
@media (max-width: 425px) {
    .arrivals_path {
        display: flex;
        flex-direction: column;
    }
    .new_arrivals_container {
        flex-direction: column;
        justify-content: center;
    }
    .arrivals_text {
        margin-bottom: 20px;
    }
}
.shopping_cart_container {
    margin-top: 90px;
    @media (max-width: 1140px) {
        padding: 0 15px;
    }
    @media (max-width: 860px) {
        max-width: 600px;
    }
    @media (max-width: 425px) {
        max-width: 370px;
    }
}
.shopping_cart {
    display: grid;
    grid-template-rows: 40px repeat(3, 1fr);
    grid-row-gap: 20px;
    @media (max-width: 860px) {
        grid-template-rows: repeat(3, 1fr);
    }
}
.cart_product__grid_container {
    display: grid;
    grid-column-gap: 10px;
    grid-template: 1fr / 400px repeat(4, 1fr) 50px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;

    @media (max-width: 860px) {
        grid-template: repeat(6, auto) / 4fr;
        grid-row-gap: 20px;
    }
}
.grid_heading {
    display: grid;
    grid-template: 1fr / 400px repeat(4, 1fr) 50px;
    grid-column-gap: 10px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
    @media (max-width: 860px) {
        grid-template: 1fr / 300px 80px repeat(3, 1fr) 50px;
    }
}
@media (max-width: 860px) {
    .grid_heading {
        display: none;
    }
    .itemMediaSpanCenter {
        justify-self: center;
    }
}

.item_text_left {
    @extend %font_for_cart_bold;
    @media (min-width: 425px) and (max-width: 860px) {
        justify-content: center;
    }
}
.item_header_style {
    @extend %font_for_cart_bold;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
.item_cont_center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: #656565;
    @media (max-width: 860px) {
        justify-content: space-between;
    }
}
.itemMediaSpan {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 13px;
    margin-right: 20px;
    color: #222222;
    @media (min-width: 860px) {
        display: none;
    }
}
.item_img {
    max-width: 260px;
}
.item_img_and_features {
    display: flex;
    .cart_product_text {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        font-size: 13px;
        line-height: 20px;
        font-weight: 300;
        color: #6f6e6e;

        .cart_product_name {
            margin-bottom: 40px;
            font-size: 13px;
            line-height: 1.2;
            text-transform: uppercase;
            color: #222222;
        }
        .cart_product_features_span {
            margin-right: 8px;
            font-weight: 700;
            color: #575757;
        }
    }
    @media (min-width: 425px) and (max-width: 860px) {
        justify-content: center;
    }
}
.cart_delete_button {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #c0c0c0;
    border: transparent;
    background-color: transparent;
}
.cart_q_input {
    width: 54px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    text-align: center;
}
.cart_direction {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    .cart_direction_button {
        width: 235px;
        height: 50px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;
    }
    @media (max-width: 1140px) {
        padding: 0 15px;
    }
}
@media (max-width: 525px) {
    .cart_direction {
        flex-direction: column;
        align-items: center;
    }
    .cart_direction_button:not(:last-child) {
        margin-bottom: 20px;
    }
}
.address_and_submit_container {
    margin-top: 60px;
    margin-bottom: 90px;
    @media (max-width: 1140px) {
        padding: 0 15px;
    }
}
.address_and_submit {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1100px) {
        justify-content: space-around;
    }
    @media (max-width: 768px) {
        justify-content: space-around;
    }
}
.address_and_submit_add,
.address_and_submit_coupon,
.address_and_submit_proceed {
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
        padding: 0 15px;
        margin-bottom: 30px;
    }
}
.add_items_margin:not(:last-child) {
    margin-bottom: 20px;
}
.address_heading {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}
.address_input {
    width: 355px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    padding: 14px;
    box-sizing: border-box;
    @media (max-width: 425px) {
        width: 300px;
    }
}
.address_input::placeholder {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 300;
    color: #b1b1b1;
}

.address_coupon_button {
    margin: 0 auto 0 0;
    padding: 12px 14px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
}
.coupon_text {
    font-size: 14px;
    font-weight: 300;
}
.address_and_submit_proceed {
    width: 360px;
    height: 214px;
    align-items: center;
    background-color: #f5f3f3;
    .total_price_items_position {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    @media (max-width: 425px) {
        width: 300px;
    }
}
.total_price_text_small {
    margin-top: 40px;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: #4a4a4a;
}
.total_price_text_large {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    .total_price_text_large_span {
        color: $font_color_uniq;
    }
}

.total_price_button {
    width: 275px;
    height: 50px;
    margin-top: 40px;
    background-color: $font_color_uniq;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    color: #ffffff;
}

/*страница single page*/

.single_page_slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 777px;
    background-color: #f7f7f7;
    background-image: url(img/singple_page_slider_img.png);
    background-repeat: no-repeat;
    background-position: center center;

    &_slider_left_button {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 47px;
        height: 47px;
        background-color: rgba(42, 42, 42, 0.14);
        color: white;
    }
    &_slider_left_button:hover {
        border: 1px solid #000;
        text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    }
    &_right_button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 47px;
        height: 47px;
        background-color: rgba(42, 42, 42, 0.14);
        color: white;
    }
    &_right_button:hover {
        border: 1px solid #000;
        text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    }
}

.buying_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    padding-top: 73px;
    margin-bottom: 119px;
    width: 100%;

    background-color: #ffffff;
    border: 1px solid #eaeaea;
    @media (min-width: 769px) {
        height: 730px;
    }

    &_category_name {
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 15px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: $font_color_uniq;
    }
    &_border {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_innerBorder {
        width: 63px;
        height: 3px;
        background-color: $font_color_uniq;
        margin-top: -2px;
    }

    &_productName {
        font-size: 18px;
        line-height: 24px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
        margin-top: 20px;
    }
    &_product_description_text {
        max-width: 620px;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #5e5e5e;
        margin-top: 67px;
        padding: 0 15px;
    }
    &_product_features {
        display: flex;
        justify-content: center;
        margin-top: 28px;
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &_product_material,
    &_product_designer {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        color: #b9b9b9;
    }
    &_product_designer {
        margin: 10px 0 0 0;
        @media (min-width: 769px) {
            margin: 0 0 0 30px;
        }
    }
    &_product_features_span {
        color: #2f2f2f;
    }
    &_product_price {
        margin-top: 37px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: $font_color_uniq;
    }
    &_hr {
        width: 55%;
        margin: 43px 0 63px 0;
        background-color: #eaeaea;
    }
    .choose_other_features_blocks {
        max-width: 537px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: 550px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &_block_text {
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
            color: #2f2f2f;
            text-transform: uppercase;
            margin-bottom: 16px;
        }
        &_select_css_1 {
            @extend %select_style;
            padding: 0 12px 0 20px;
        }
        &_select_css_2 {
            @extend %select_style;
            padding: 0 12px 0 12px;
        }

        &_select_css:focus {
            color: #000;
            outline: none;
        }

        &_block_input {
            font-size: 13px;
            line-height: 24px;
            font-weight: 400;
            color: #bcbcbc;
            width: 144px;
            height: 35px;
            background-color: #ffffff;
            border: 1px solid #eaeaea;
            padding: 0 12px 0 12px;
        }
        &_block_input::placeholder {
            font-size: 13px;
            line-height: 24px;
            font-weight: 400;
            color: #bcbcbc;
        }
        &_button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            color: $font_color_uniq;
            margin-top: 50px;
            width: 537px;
            height: 55px;
            background-color: #ffffff;
            border: 1px solid #ef5b70;
            @media (max-width: 550px) {
                width: initial;
                padding: 0 25px;
            }
        }
    }
}
@media (max-width: 550px) {
    .choose_other_features_blocks_select_css_1,
    .choose_other_features_blocks_select_css_2 {
        margin-bottom: 15px;
    }
}

.choose_other_features_blocks_block_color_square {
    position: absolute;
    top: 51px;
    left: 8px;
    width: 12px;
    height: 12px;
    background-color: $font_color_uniq;
}
.select_color_relative {
    position: relative;
}
.YMAL_heading {
    margin-bottom: 72px;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
}
// Product Page with Bootstrap elements
.product_page_container_main {
    margin-top: 60px;
    padding: unset;
}
.product_page_items_container {
    display: flex;
    padding: unset;
    .product_page_filters_CBD {
        flex-grow: 1;
        height: inherit;
    }
    .product_page_items_grouping {
        background-color: #f3f3f3;
        padding: 10px;
    }
    .product_page_products_columns {
        max-width: 846px;
        margin-top: 48px;
        .product_page_item:hover {
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
        }
        .product_page_item {
            max-width: 260px;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        .product_page_item:not(:nth-child(3n)) {
            margin-right: 33px;
        }
    }
    .product_page_numbers_of_page {
        width: 260px;
        height: 44px;
        background-color: #ffffff;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        color: #c4c4c4;
        .product_page_numbers_of_page_span {
            color: $font_color_uniq;
        }
    }
}
.product_page_left_block {
    margin-right: 40px;
}

.product_page_category_btn {
    line-height: 20px;
    font-weight: 700;
    color: #6f6e6e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 243px;
    box-shadow: none;
    border: transparent;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    margin-bottom: 20px;
    padding: 6px 0 6px 12px;
    border-bottom: 1px solid #ebebeb;
    border-left: 5px solid $font_color_uniq;
}

.product_page_category_btn:focus,
.product_page_category_btn:active,
.product_page_category_btn:hover {
    box-shadow: none;
    color: $font_color_uniq;
}

.product_page_category_btn_i {
    color: $font_color_uniq;
}

.collapsed .product_page_category_btn_i {
    transform: rotate(180deg);
    color: #6f6e6e;
}

.product_page_category_btn_card {
    font-size: 14px;
    line-height: 33px;
    font-weight: 400;
    border: transparent;
    margin-bottom: 40px;
    padding-left: 12px;
}
.product_page_category_btn_card_link {
    color: #6f6e6e;
}
.product_page_category_btn_card_link:hover {
    text-decoration: none;
    color: black;
}

.product_page_category_list_block {
    display: flex;
}

.product_page_right_blocks_fetures {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
}
.row_margin {
    margin-bottom: 13px;
}
.product_page_right_blocks_fetures_label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
    margin-bottom: 23px;
}
.product_page_right_blocks_fetures_trendings_text {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #6f6e6e;
}
.product_page_right_blocks_fetures_trendings_text:nth-child(1n + 1) {
    margin-bottom: 12px;
}
.product_page_right_blocks_fetures_trendings_text:not(:nth-child(3n)) {
    border-right: 1px solid lightgray;
}
.product_page_right_blocks_fetures_size_text {
    display: flex;
    align-items: center;
    width: 55px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
}

.product_page_right_blocks_fetures_size_input {
    margin-right: 8px;
}
.product_page_right_blocks_fetures_size_input::after {
    width: 13px;
    height: 13px;
}
.product_page_right_blocks_fetures_price_from {
    width: 262px;
    height: inherit;
}
.product_page_right_blocks_fetures_price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-image: url(img/price_bar.png);
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    .product_page_right_blocks_fetures_price_text {
        margin-top: 29px;
    }
}
.product_page_items_grouping {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #6f6e6e;
}
.product_page_items_grouping_block {
    padding: 8px 8px 8px 12px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
}
.product_page_items_grouping_block_list {
    padding: 8px 12px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    .fa_caret_down_margin {
        margin-left: 12px;
    }
}
.product_page_items_grouping_block_list_margin {
    margin-right: 10px;
}
.page_navigation_block {
    display: flex;
    justify-content: space-between;
    .page_navigation_block_button {
        font-size: 16px;
        line-height: 16px;
        font-weight: 300;
        color: #ef5b70;
        text-decoration: none;
        padding: 10px 47px;
        background-color: #ffffff;
        border: 1px solid #ef5b70;
        border-radius: 3px;
    }
}
.page_navigation_block_link {
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    color: #c4c4c4;
    text-decoration: none;
    padding: 6px 8px;
    .page_navigation_block_link_span {
        color: $font_color_uniq;
    }
}
.page_navigation_block_link:hover {
    background-color: unset;
}

.page_navigation_block_ul {
    border: 1px solid #ebebeb;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-bottom: unset;
    max-width: 260px;
}
.product_page_possabilities_block {
    background-color: #222224;
    width: 100%;
    height: 341px;
    margin-top: 110px;
}
.product_page_possabilities_block_container {
    justify-content: space-between;
    align-items: center;
    height: inherit;
    text-align: center;
    color: #fbfbfb;
}
.text_margin {
    margin-top: 20px;
}
.block_position {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
//стили страницы checkout
.shipping_and_payment__container_margins {
    margin-top: 40px;
    margin-bottom: 93px;
}
.shipping_and_payment__list {
    border-bottom: 1px solid #e8e8e8;
    padding: 33px 0;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "grid_template_heading  grid_template_heading"
        "form_regCheck          form_registered";
    &__heading {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;

        &_collapsed {
            margin-bottom: 40px;
        }
    }
    &_collapsed {
        padding-bottom: 80px;
    }
    .shipping_and_payment__list__form {
        &__headingFour {
            font-size: 13px;
            @extend %headingFiveFontStyle;
        }
        &__headingFive {
            font-size: 12px;
            @extend %headingFiveFontStyle;
            padding: 18px 0;
            &_padUnic {
                padding: 0 0 16px 0;
            }
        }
        &__text {
            font-size: 13px;
            font-weight: 400;
            color: #b3b2b2;
            &_margin {
                margin: 15px 0 30px 0;
            }
            &_color {
                color: #ff0d0d;
            }
            &_span {
                font-size: 17px;
                color: #ff0d0d;
            }
        }
        &__link {
            text-decoration: none;
            // color: #222222;
            font-size: 14px;
            font-weight: 400;
            &_order {
                font-size: 13px;
                font-weight: 400;
                color: #b3b2b2;
            }
            &_fgPass {
                font-size: 14px;
                margin-left: 32px;
                color: #222222;
            }
        }
        &__order {
            list-style-type: none;
        }
        &__checkout__container {
            display: flex;
            align-items: center;
            @extend %headingFiveFontStyle;
            font-size: 12px;
            &_marginOne {
                margin-bottom: 20px;
            }
            &_marginTwo {
                margin-bottom: 33px;
            }
        }
        &__checkout_margin {
            margin-right: 14px;
        }
        &__button {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: #4a4a4a;
            width: 180px;
            height: 50px;
            background-color: #ffffff;
            border: 1px solid #eaeaea;
            &_continue_murgin {
                margin-top: 38px;
            }
        }
        &__reg__input {
            width: 390px;
            padding: 12px 12px;
            background-color: #ffffff;
            border: 1px solid #eaeaea;
        }
        &__checkout {
            display: none;
        }
    }
}
label[for="checkout_guest_input"],
label[for="checkout_register_input"] {
    display: block;
    padding-left: 20px;
    background: url(img/input_unchecked.png) no-repeat left center;
}
#checkout_guest_input:checked + label,
#checkout_register_input:checked + label {
    background: url(img/input_checked.png) no-repeat left center;
}
.grid_template_heading {
    grid-area: grid_template_heading;
}
.form_regCheck {
    grid-area: form_regCheck;
}
.form_registered {
    grid-area: form_registered;
}
@media (max-width: 1140px) {
    .shipping_and_payment__container_margins {
        padding: 0 15px;
    }
}
@media (max-width: 425px) {
    .shipping_and_payment__container_margins {
        padding: 0 30px;
    }
    .shipping_and_payment__list {
        grid-template-areas:
            "grid_template_heading grid_template_heading"
            "form_regCheck         form_regCheck"
            "form_registered form_registered";
        .shipping_and_payment__list__form {
            &__reg__input {
                width: 300px;
            }
        }
    }
    .form_regCheck {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #e8e8e8;
    }
}
@media (max-width: 320px) {
    .shipping_and_payment__list {
        .shipping_and_payment__list__form {
            .shipping_and_payment__list__form__reg__input {
                width: 234px;
            }
        }
    }
    .subscribing_block_right_input_block {
        width: initial;
        .subscribing_block_right_input {
            width: 300px;
        }
    }
}
